<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5">
            <h2 class="text-center">Create a new account</h2>
            <form action="/signup" method="POST">
                <div class="form-group">
                    <label>Name</label><br>
                    <input type="text" class="form-control" name="Name" placeholder="Enter a name">

                </div>
                 <div class="form-group">
                    <label>email address</label><br>
                    <input type="email" class="form-control" name="Email" placeholder="Enter email">
                    
                </div>
                 <div class="form-group">
                    <label>password</label><br>
                    <input type="password" class="form-control" name="Password" placeholder="password">
                    
                </div>
                <a href="/signup">already have a account?</a>
                <button type="submit" class="btn btn-primary float-right">Signup</button>
            </form>
        </div>
    </div>
</div>